_build

auto_examples/**
!auto_examples/**/*.ipynb
!auto_examples/**/
examples/**/output/

.idea
*.dcm
*.tps
*.png
*.DS_Store

auto_community/**
!auto_community/**/*.ipynb
!auto_community/**/


community/**
!community/**/*.py
!community/**/*.rst
!community/**/

examples/**
!examples/**/*.py
!examples/**/*.rst
!examples/**/
