name : Deploy sphinx gallery to Github Pages

on :
  push :
    branches :
      - main

permissions:
  id-token: write
  pages: write

jobs :
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx sphinx-gallery sphinx-book-theme
          pip install -r requirements.txt
      - name: Build the docs
        run: |
          make html
      - name: Upload artifacts
        uses: actions/upload-page-artifact@v2
        with:
          name: html
          path: |
            _build/html
            auto_examples

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: deploy to Github Pages
        uses: actions/deploy-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/html