name : Deploy sphinx gallery to Github Pages

on :
  push :
    branches :
      - main

jobs :
  permissions:
    id-token: write
    pages: write
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx sphinx-gallery sphinx-book-theme
          pip install -r requirements.txt
      - name: Build the docs
        run: |
          make html
      - name: Deploy to Github Pages
        uses: actions/deploy-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/html